<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trigunar Travel</title>

    <link rel="stylesheet" href="/src/style/main.css">
</head>

<body>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__title">
            <h1><a href="">Trigunar</a></h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/Home">Home</a></li>
                <li><a href="">Tri Kota</a></li>
                <li><a href="">Paket Wisata</a></li>
                <li><a href="">Tentang Kita</a></li>
                <li><a href="">Login</a></li>

            </ul>
        </nav>
    </header>

    <div id="hero" class="hero">
        <div class="hero__img"></div>

        <div class="hero__title">
            <h1>
                Jelajah Keindahan Panorama dengan Trigunar.
            </h1>
            <!-- <a href="#main-content">Lihat Restoran</a> -->
        </div>
    </div>

    <main id="main-content" class="main-content">
        <section id="new-spot" class="main-content__new-spot">
            <h2>NEW SPOT</h2>
            <div class="main-content__new-spot__list-card">
                <div class="destination-card">
                    <h3>TITLE DESTINATION</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, at?</p>
                </div>
                <div class="destination-card">
                    <h3>TITLE DESTINATION 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, at?</p>
                </div>
                <div class="destination-card">
                    <h3>TITLE DESTINATION3 </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, at?</p>
                </div>
                <div class="destination-card">
                    <h3>TITLE DESTINATION4 </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, at?</p>
                </div>
            </div>
        </section>

        <section id="event" class="event">
            <h2>EVENT</h2>
        </section>
    </main>

    <footer>

    </footer>


    <!-- <script src="/src/scripts/index.js"></script> -->

</body>

</html>