<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trigunar Travel</title>

    <link rel="stylesheet" href="/src/style/main.css">
</head>

<body>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__title">
            <h1><a href="">Trigunar</a></h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/Home">Home</a></li>
                <li><a href="">Tri Kota</a></li>
                <li><a href="">Paket Wisata</a></li>
                <li><a href="">Tentang Kita</a></li>
                <li><a href="">Login</a></li>

            </ul>
        </nav>
    </header>

    <main id="main-content" class="main-content">

    </main>

    <footer>

    </footer>


    <!-- <script src="/src/scripts/index.js"></script> -->

</body>

</html>